footer { 
    width: 100%;
    height: 80px;
    display: flex;
    bottom: auto;
    align-items: center;
    justify-content: space-between;

    position: absolute bottom;
    bottom: 0;
}

img#LogoAssert {
    width: 60px;
    height: 60px;
    justify-content: flex-start;
    margin-left: 10px;
}

img#LogoIfpb {
    width: 60px;
    height: 60px;
    justify-content: flex-end;
    margin-right: 10px;
    alt: inherit
}

p #Descricao {
    justify-content: center;
}

