
#Container {
    width: 100%;
    height: auto;
    background-color: #e9ecef;
}

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 100%;

}

#Username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
#Username p {
    margin-top: 5px;
}
